v@charset "utf-8";
/* CSS Document */

/*color1: #FFFFFF;
$color2: #E5E5E5;
$color3: #BFBFBF;
$color4: #7F7F7F;
$color5: #262626;
$color6: #131313;
links: background-color: #7F7F7F;
	color: #FFFFFF;
on hover: background-color: #BFBFBF;
	color: #262626;
selected / active:
background-color: #262626;
	color: #BFBFBF;
$breakpoint: 786px;*/

.main-nav{
	background: #131313;
	font-size: 15px;
}

.glyphicon {
	background: transparent;
	float: right;
}

.nav-container {
	margin-top: 30px;
	margin-right: 30px;
	white-space: nowrap;
	border-left: 7px solid #9EA7FF;
	background: #262626;
}

nav.nav-pills li{
	background: #4F547F;
	color: #FFFFFF;
	transition: all 0.5s ease 0s;
	margin-top: 6px;
	margin-left: 0px;
	padding: 0;
	height: 40px;
}

.top {
	margin-top: 0px;
	border-bottom: 2px solid #9EA7FF;
}

#menu{
	text-align: left;
}

.glyphicon-plus, .glyphicon-minus{
	padding-right: 10px;
}

.bottom {
	margin-bottom: 0px;
}

#menu-collapse > hr {
	border-top: 5px single #ffffff;
	margin: 0px;
	padding: 0px;
}

/* nav-pills */
	nav.nav-pills li a{
		color: #FFFFFF;
		height: 40px;
		}

	.nav-pills > li > a:visited {
		color: #FFFFFF;
		background: #4F547F;
	}

	.nav-pills > li:hover,li:focus,li:active{
		color: #FFFFFF;
		background: #29317F;
	}

	.nav-pills > li > a:hover,a:focus,a:active{
		text-decoration: none;
		outline: none;
		color: #FFFFFF;
		background: transparent !important;
	}

	.nav-pills li::before{
		content: "";
		border-width: 40px 7px 0 0 !important;
		border-style: solid !important;
		border-color: #9EA7FF;
		right: 0;
		position: absolute;    
		transform: rotateX(-90deg);
		transition: all 0.5s ease 0s;
	}

	.nav-pills li:hover:before,
	.nav-pills li.active:before{
		transform: rotateX(0deg);
	}

/* non-mobile users */
	
@media (min-device-width: 768px){

	.nav-container {
		border-bottom: 5px solid #9EA7FF;
		border-left: none;
		width: 100%;
		background: #7F7F7F;
	}

	#menu-collapse-btn {
		display: none;
	}
	
	#collapsible-menu {
		display: inherit;
	}
	
	.nav-pills li::before{
		content: "";
		width: 100%;
		border: 3px solid #9EA7FF !important;
    background-color: #9EA7FF !important;
		position: absolute;
		top: -5px;
		left: 0;
		transform: rotateY(-90deg);
		transition: all 0.5s ease 0s;
	}

	.nav-pills li:hover:before,
	.nav-pills li.active:before{
		transform: rotateY(0deg);
		}
	}

/* dropdown sub-menu */

	ul.dropdown-menu {
	  background: #29317F;
	  position: absolute;
	  margin: 0;
	  padding: 0;
	  border: 2px solid #9EA7FF;
	  display: none;
	}
			
	ul.dropdown-menu > li {
	background: transparent !important;
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
	}
  
	ul.dropdown-menu > li > a {
		color: #FFFFFF;
		padding-top: 10px;
		margin-left: 5px;
		margin-right: 5px;
		background: transparent;
	}
	
	ul.dropdown-menu > li > a:hover,a:focus,a:active {
		background: #4F547F;
		color: #FFFFFF;
	}

	ul.dropdown-menu > li:visited {
		background: #9EA7FF;
	}
  
	ul.dropdown-menu li::before{
		border: none;
		right: 0;    
		transform: none;
		transition: all 0.5s ease 0s;
	}

	ul.dropdown-menu li:hover:before,
	ul.dropdown-menu li.active:before{
		transform: none;
		}
			
	.dropdown.open .dropdown-toggle {
			background: #29317F;
	}

