@charset "utf-8";
/* CSS Document */

/*color1: #FFFFFF;
$color2: #E5E5E5;
$color3: #BFBFBF;
$color4: #7F7F7F;
$color5: #262626;
$color6: #131313;
links: background-color: #7F7F7F;
	color: #FFFFFF;
on hover: background-color: #BFBFBF;
	color: #262626;
selected / active:
background-color: #262626;
	color: #BFBFBF;
$breakpoint: 786px;
*/

footer {
	order: 10;
	width: 100vw;
	background-color: #131313;
	flex: 1 1 auto;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	color: #E5E5E5;
}

#twitchfooter {
	padding: 5px;
	text-align: center;
	font-size: 1.5rem;
}

#sitelicense{
	padding: 5px;
	font-size: 0.8rem;
	text-align: center;
}
