@charset "utf-8";
/* CSS Document */

html{
	height: 100%;
}

* {
    margin: 0;
}

#homepage {
  min-height: 100%;
  height: 100%;
  position: relative;
}

#banner {
  height: 5%;
  width: 100%;
  display: table;
}

body {
	background-color: #262626;
	color: #ffffff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  	padding: 0;
  	margin: auto;
	width:100vw;
	display: flex;
  	flex-direction: column;
}

.content {
  flex: 1 0 auto;
}



#main {
  padding-top: 20px;
}

footer {
	width: 100%;
	height: 150px;
	background-color: #131313;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
}

f1.heart {
	width: 70%;
  	margin: .7em auto;
  	overflow: hidden;
  	text-align: center;
  	font-weight:300;
  	color: #E5E5E5;
}

f1.heart:before,f1.heart:after {
	content: "";
	display: inline-block;
	width: 50%;
	margin: 0 .5em 0 -55%;
	vertical-align: middle;
	border-bottom: 1px solid;
}

f1.heart:after {
	margin: 0 -55% 0 .5em;
}

#twitchfooter {
	text-align: center;
	font-size: 175%;
}

#sitelicense{
	font-size: 80%;
	text-align: center;
}

