@charset "utf-8";
/* CSS Document */

html{
	background-color: #131313;
	height: 100%;
}

{
    margin: 0;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  	padding: 0;
  	margin: auto;
	width:100%;
  	height: 100%;
}

#homepage {
  min-height: 100%;
  height: 100%;
  position: relative;
}

#banner {
  /* BASE CODE */
  height: 5%;
  width: 100%;
  /* STYLING */
  background-color: #ffffff;
  display: table;
}


/* CONTENT */
#main {
  padding-top: 20px;
}
/* FOOTER */
#footer {
  /* BASE CODE */
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 150px;
  /* STYLING */
  background: #590202;
  display: table;
}

hr{
	border: none;
	height: 1px;
	color: gray;
}

.footer-wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* The bottom margin is the negative value of the footer's height. */
}
.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

#twitchfooter {
	text-align: center;
	font-size: 175%;
}

#sitelicense{
	font-size: 80%;
	text-align: center;
}

