/*color1: #FFFFFF;
$color2: #E5E5E5;
$color3: #BFBFBF;
$color4: #7F7F7F;
$color5: #262626;
$color6: #131313;
$breakpoint: 800px;
$nav-height: 70px;*/

a.selected {
	background-color: #262626 !important;
	color: #BFBFBF !important;
}

.main-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #7F7F7F;
	color: #FFFFFF;
	border-top: solid 3px #fff;
	border-bottom: solid 3px #fff;
}

.main-nav li {
	float: left;
}

.main-nav li:hover{
	background-color: #BFBFBF;
	color: #262626;
}

.main-nav li a {
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	display: block;
	text-decoration: none;
	font-size: 17px;
	line-height: 40px;
	transition: .3s background-color;
}



.main-nav li a:active {
	background-color: #262626;
	color: #BFBFBF;
}

.main-nav ul {
	display: none;
	list-style:none;
	position: absolute;
	padding: 12px 16px;
	overflow: hidden;
}

.main-nav ul li {
	float: none;
 }

.main-nav li:hover > ul {
	display: block;
}



