/*color1: #FFFFFF;
$color2: #E5E5E5;
$color3: #BFBFBF;
$color4: #7F7F7F;
$color5: #262626;
$color6: #131313;
links: background-color: #7F7F7F;
	color: #FFFFFF;
on hover: background-color: #BFBFBF;
	color: #262626;
selected / active:
background-color: #262626;
	color: #BFBFBF;
$breakpoint: 800px;
$nav-height: 70px;*/

* {
  border-radius: 0 !important;
}

.nav li a, .nav li a:visited {
    color: #ffffff !important;
}

.nav li a:hover, .nav li a:active {
    color: #ffffff !important;
}

.nav li.active a {
    color: #ffffff !important;
}

.nav-pills {
	margin-top: 30px;
	width: 99%;
	margin-left: 0.5%;
	white-space:nowrap;
}

.nav-pills li{
	margin-bottom: 0;
	font-size: 14px;
	color: #ffffff;
	width: 12%;
  background: #4b4673;
	border-left: 1%;
	border-right: 1%;
	border-color: #ffffff;
  position: relative;
  transition: all 0.5s ease 0s;
}

.shore {
    background: #7c70d9;
}

.nav-pills > li > a:hover,a:focus,a:active{
	text-decoration: none;
	outline: none;
	background: #7c70d9;
}

@media (min-device-width: 576px){

	.nav-pills {
		border-bottom: 7px solid #4b4673;
		border-left: none;
	}

.nav-pills li:before{
    content: "";
    width: 100%;
    border: 3px solid #4b4673;
    position: absolute;
    top: -5px;
    left: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s ease 0s;
}

.nav-pills li:hover:before,
.nav-pills li.active:before{
    transform: rotateY(0deg);
}
}

@media (max-device-width: 575px) {
	
	.nav-pills {
		border-bottom: none;
		border-left: 7px solid #4b4673;
	}
	
	.nav-pills li:before{
		content: "";
    width: 100%;
    border: 3px solid #4b4673;
    position: absolute;
    top: 0;
		left: -5px;
    		transform: rotateX(-90deg);
    		transition: all 0.5s ease 0s;
	}
	.nav-pills li:hover:before,
	.nav-pills li.active:before{
    	transform: rotateX(0deg);
	}
}

