/*color1: #FFFFFF;
$color2: #E5E5E5;
$color3: #BFBFBF;
$color4: #7F7F7F;
$color5: #262626;
$color6: #131313;
$breakpoint: 800px;
$nav-height: 70px;*/


ul.main-nav {
	display: inline-block;
	float: left;
	list-style:none;
	width: 100%;
	background-color: #7F7F7F;
	color: #FFFFFF;
	overflow: auto;
}

ul.main-nav li {
	display:inline-block;
	background-color: #7F7F7F;
	list-style:none;
	float: left;
}


ul.main-nav a{
	background-color: #7F7F7F !important;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

ul.dropdown {
	position: relative;
	display: inline-block;
}

ul.main-nav:hover{
	background-color: #BFBFBF !important;
	color: #262626;
}

ul.main-nav:active{
	background-color: #262626 !important;
	color: #BFBFBF;
}

ul.main-nav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
	ul.main-nav a:not(:first-child) {display: none;}
	ul.main-nav a.icon {
	float: right;
	display: block;
  }
}

@media screen and (max-width: 800px) {
	ul.main-nav.responsive {position: relative;}
	ul.main-nav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
	}
	ul.main-nav.responsive a {
	float: none;
	display: block;
	text-align: left;
	}
}

ul.dropdown-menu {
	display: none;
	list-style:none;
	position: relative;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

ul.dropdown:hover .dropdown-menu {
	display: block;
	list-style: none;
}
