* {box-sizing: border-box}

div.nested_tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 150px;
    height: 100%;
}

div.nested_tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

div.nested_tab button:hover {
    background-color: #ddd;
}

div.nested_tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 100%;
    border-left: none;
    height: 100%;
}

.chartdiv {
    display: inline-block;
    margin: 10px;
    border: 3px solid #ddd; 
}
