/*
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
 */

* {
  border-radius: 0 !important;
}

.nav-pills {
	margin-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
}

.nav-pills li{
	margin-bottom: 0;
	font-size: 14px;
	color: #fff;
	width: 12%;
  background: #4b4673;
	border-left: 3px;
	border-right: 3px;
	border-color: #7c70d9;
  position: relative;
  transition: all 0.5s ease 0s;
}

.shore {
    background: #7c70d9;
}

.nav-pills > li > a:hover,a:focus,a:active{
	text-decoration: none;
	outline: none;
	background: #7c70d9;
}

@media (min-device-width: 576px){

	.nav-pills {
		border-bottom: 7px solid #4b4673;
	}

.nav-pills li:before{
    content: "";
    width: 100%;
    border: 3px solid #4b4673;
    position: absolute;
    top: -5px;
    left: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s ease 0s;
}

.nav-pills li:hover:before,
.nav-pills li.active:before{
    transform: rotateY(0deg);
}
}

@media (max-device-width: 575px) {
	
	.nav-pills {
		border-left: 7px solid #4b4673;
	}
	
	.nav-pills li:before{
		content: "";
    width: 100%;
    border: 3px solid #4b4673;
    position: absolute;
    top: 0;
		left: -5px;
    		transform: rotateX(-90deg);
    		transition: all 0.5s ease 0s;
	}
	.nav-pills li:hover:before,
	.nav-pills li.active:before{
    	transform: rotateX(0deg);
	}
}

.dropdown-menu {
    float:left;
    clear:left;
}
